<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <authentication mode="Forms" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />


      <membership defaultProvider="DefaultMembershipProvider">
        <providers>
          <add connectionStringName="ApplicationServices" enablePasswordRetrieval="false"
          enablePasswordReset="true" requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
          minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
          applicationName="/" name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

        </providers>
      </membership>

      <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
        <providers>
          <add connectionStringName="ApplicationServices" applicationName="/"
            name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </providers>
      </roleManager>

      <sessionState mode="InProc" customProvider="DefaultSessionProvider">
        <providers>
          <add name="ApplicationServices" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ApplicationServices"/>
        </providers>
      </sessionState>

    </system.web>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=gandalf.dei.isep.ipp.pt;Initial Catalog=ARQSI34;User ID=ARQSI34;Password=easygames" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  
  
</configuration>
