body {
    background-image:url('fundo.jpg');
    background-color:#000000;
    background-repeat:no-repeat;
    background-size:cover;
    font-family:Calibri
}

#divContents {
    z-index:0;
     background-color:#808080;
   /*  -moz-box-shadow: -5px -5px #2e2e2e;
    -webkit-box-shadow: -5px -5px #2e2e2e;
     box-shadow: -5px -5px #2e2e2e; */
}

#divMenu {
    
}

#divMenu {
    
}

#divLogin {
    background-color:#ffffff;

}